Repository SELab-2/UGent-7, pull requests merged in 2024-04, with the labels that each got.

#319 Project editor
  backend/api/migrations/0016_course_excerpt_alter_checkresult_submission_and_more.py
  backend/api/migrations/0017_merge_20240416_1054.py
  backend/api/models/course.py
  backend/api/serializers/course_serializer.py
  backend/api/serializers/project_serializer.py
  backend/api/tests/test_course.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/setup.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/lang/en.json
  frontend/src/assets/lang/nl.json
  frontend/src/assets/scss/theme/base/components/misc/_progressbar.scss
  frontend/src/components/courses/CourseGeneralCard.vue
  frontend/src/components/courses/CourseList.vue
  frontend/src/components/courses/students/StudentCourseJoinButton.vue
  frontend/src/components/forms/Editor.vue
  frontend/src/components/projects/ProjectCard.vue
  frontend/src/components/projects/ProjectCreateButton.vue
  frontend/src/components/projects/ProjectList.vue
  frontend/src/composables/services/course.service.ts
  frontend/src/main.scss
  frontend/src/test/unit/services/course_service.test.ts
  frontend/src/test/unit/services/project_service.test.ts
  frontend/src/test/unit/services/setup/data.ts
  frontend/src/test/unit/types/course.test.ts
  frontend/src/test/unit/types/data.ts
  frontend/src/test/unit/types/helper.ts
  frontend/src/test/unit/types/student.test.ts
  frontend/src/types/Course.ts
  frontend/src/types/Project.ts
  frontend/src/types/users/Student.ts
  frontend/src/views/courses/CreateCourseView.vue
  frontend/src/views/courses/SearchCourseView.vue
  frontend/src/views/courses/UpdateCourseView.vue
  frontend/src/views/courses/roles/AssistantCourseView.vue
  frontend/src/views/courses/roles/StudentCourseView.vue
  frontend/src/views/courses/roles/TeacherCourseView.vue
  frontend/src/views/dashboard/roles/AssistantDashboardView.vue
  frontend/src/views/dashboard/roles/StudentDashboardView.vue
  frontend/src/views/dashboard/roles/TeacherDashboardView.vue
  frontend/src/views/projects/CreateProjectView.vue
Labels: feature, frontend, backend

#335 fix: little translations
  frontend/src/assets/lang/en.json
  frontend/src/assets/lang/nl.json
  frontend/src/components/projects/ProjectList.vue
Labels: frontend

#338 Project view
  development.sh
  frontend/src/assets/lang/nl.json
  frontend/src/components/courses/CourseList.vue
  frontend/src/components/layout/Title.vue
  frontend/src/components/projects/ChooseGroupCard.vue
  frontend/src/components/projects/JoinedGroupCard.vue
  frontend/src/components/projects/ProjectCard.vue
  frontend/src/components/projects/ProjectInfo.vue
  frontend/src/components/projects/ProjectMeter.vue
  frontend/src/components/projects/SubmissionCard.vue
  frontend/src/components/teachers_assistants/TeacherAssistantCard.vue
  frontend/src/components/teachers_assistants/button/AssistantCourseAddButton.vue
  frontend/src/components/teachers_assistants/button/TeacherCourseAddButton.vue
  frontend/src/router/router.ts
  frontend/src/test/unit/services/course_service.test.ts
  frontend/src/test/unit/services/group_service.test.ts
  frontend/src/test/unit/services/project_service.test.ts
  frontend/src/test/unit/services/structure_check.test.ts
  frontend/src/test/unit/types/course.test.ts
  frontend/src/test/unit/types/structureCheck.test.ts
  frontend/src/types/Course.ts
  frontend/src/types/Group.ts
  frontend/src/types/Project.ts
  frontend/src/types/StructureCheck.ts
  frontend/src/types/submission/Submission.ts
  frontend/src/views/courses/roles/AssistantCourseView.vue
  frontend/src/views/courses/roles/StudentCourseView.vue
  frontend/src/views/courses/roles/TeacherCourseView.vue
  frontend/src/views/dashboard/roles/TeacherDashboardView.vue
  frontend/src/views/projects/ProjectView.vue
  frontend/src/views/projects/ProjectsView.vue
  frontend/src/views/projects/SingleProjectView.vue
  frontend/src/views/projects/roles/StudentProjectView.vue
  frontend/src/views/projects/roles/TeacherProjectView.vue
  package-lock.json
Labels: feature, frontend

#346 fix: translations + title login
  frontend/src/assets/lang/en.json
  frontend/src/assets/lang/nl.json
  frontend/src/views/authentication/LoginView.vue
Labels: frontend

#342 chore: hardcoded variable gone
  development.sh
Labels: backend

#352 chore: change default page size
  backend/api/views/pagination/basic_pagination.py
Labels: backend

#357 Fix github action warning messages
  .github/workflows/backend-linting.yaml
Labels: CI/CD

#365 Roles course
  backend/api/locale/en/LC_MESSAGES/django.po
  backend/api/locale/nl/LC_MESSAGES/django.po
  backend/api/serializers/course_serializer.py
  backend/api/tests/test_course.py
  backend/api/views/assistant_view.py
  backend/api/views/course_view.py
  backend/api/views/user_view.py
  frontend/src/assets/lang/en.json
  frontend/src/assets/lang/nl.json
  frontend/src/components/teachers_assistants/TeacherAssistantCard.vue
  frontend/src/components/teachers_assistants/TeacherAssistantList.vue
  frontend/src/components/teachers_assistants/TeacherAssistantSearch.vue
  frontend/src/components/teachers_assistants/button/AssistantCourseAddButton.vue
  frontend/src/components/teachers_assistants/button/TeacherCourseAddButton.vue
  frontend/src/components/teachers_assistants/buttons/CourseRoleAddButton.vue
  frontend/src/components/teachers_assistants/buttons/LeaveCourseButton.vue
  frontend/src/types/filter/Filter.ts
Labels: frontend

#368 chore: fixed some layout issues
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/assets/lang/info/en.json
  frontend/src/assets/lang/info/nl.json
  frontend/src/components/YearSelector.vue
  frontend/src/components/courses/CourseDetailList.vue
  frontend/src/components/courses/CourseGeneralList.vue
  frontend/src/components/layout/base/BaseHeader.vue
  frontend/src/components/projects/ProjectCreateButton.vue
  frontend/src/components/projects/ProjectList.vue
  frontend/src/components/projects/ProjectMeter.vue
  frontend/src/components/teachers_assistants/TeacherAssistantCard.vue
  frontend/src/components/teachers_assistants/TeacherAssistantSearch.vue
  frontend/src/components/teachers_assistants/TeacherAssistantUpdateButton.vue
  frontend/src/components/teachers_assistants/buttons/CourseRoleAddButton.vue
  frontend/src/components/teachers_assistants/buttons/LeaveCourseButton.vue
  frontend/src/config/i18n.ts
  frontend/src/main.scss
  frontend/src/views/App.vue
  frontend/src/views/authentication/VerifyView.vue
  frontend/src/views/calendar/CalendarView.vue
  frontend/src/views/courses/SearchCourseView.vue
  frontend/src/views/courses/roles/AssistantCourseView.vue
  frontend/src/views/courses/roles/StudentCourseView.vue
  frontend/src/views/courses/roles/TeacherCourseView.vue
  frontend/src/views/dashboard/roles/AssistantDashboardView.vue
  frontend/src/views/dashboard/roles/StudentDashboardView.vue
  frontend/src/views/dashboard/roles/TeacherDashboardView.vue
  frontend/src/views/projects/CreateProjectView.vue
  frontend/src/views/projects/UpdateProjectView.vue
Labels: bug, frontend

#372 chore: deployment improvements
  .dev.env
  .gitignore
  .prod.env
  .tool-versions
  backend/Dockerfile
  backend/gunicorn_config.py
  backend/setup.sh
  backend/ypovoli/settings.py
  data/nginx/nginx.dev.conf
  data/nginx/nginx.prod.conf
  data/nginx/nginx.test.conf
  development.sh
  development.yml
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
  frontend/cypress.config.ts
  production.yml
  test.sh
  test.yml
Labels: deployment

#374 Group creation
  backend/api/serializers/project_serializer.py
  backend/api/tests/test_course.py
  backend/api/views/course_view.py
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/teachers_assistants/TeacherAssistantCard.vue
  frontend/src/composables/services/project.service.ts
  frontend/src/views/calendar/CalendarView.vue
  frontend/src/views/courses/roles/StudentCourseView.vue
  frontend/src/views/courses/roles/TeacherCourseView.vue
  frontend/src/views/dashboard/roles/StudentDashboardView.vue
  frontend/src/views/projects/CreateProjectView.vue
Labels: frontend, backend

#375 Frontend tests fix
  frontend/src/test/unit/types/data.ts
  frontend/src/test/unit/types/extraCheckResults.test.ts
  frontend/src/test/unit/types/helper.ts
  frontend/src/test/unit/types/structureCheckResult.test.ts
  frontend/src/test/unit/types/submission.test.ts
Labels: testing
