Repository SELab-2/UGent-7, pull requests merged in 2024-05, with the labels that each got.

#387 Private courses with sharing link
  backend/api/locale/en/LC_MESSAGES/django.po
  backend/api/locale/nl/LC_MESSAGES/django.po
  backend/api/migrations/0018_course_invitation_link_and_more.py
  backend/api/models/course.py
  backend/api/serializers/course_serializer.py
  backend/api/views/course_view.py
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/courses/CourseGeneralList.vue
  frontend/src/components/courses/ShareCourseButton.vue
  frontend/src/components/courses/search/ProtectedSearchStepper.vue
  frontend/src/composables/services/course.service.ts
  frontend/src/config/endpoints.ts
  frontend/src/test/unit/types/course.test.ts
  frontend/src/test/unit/types/data.ts
  frontend/src/test/unit/types/helper.ts
  frontend/src/types/Course.ts
  frontend/src/types/filter/Filter.ts
  frontend/src/views/courses/CreateCourseView.vue
  frontend/src/views/courses/SearchCourseView.vue
  frontend/src/views/courses/UpdateCourseView.vue
  frontend/src/views/courses/roles/TeacherCourseView.vue
  frontend/src/views/courses/search/ProtectedSearchCourseView.vue
  frontend/src/views/courses/search/PublicSearchCourseView.vue
Labels: frontend, backend

#388 chore: error template slots
  frontend/src/assets/img/placeholders/placeholder-4.png
  frontend/src/assets/lang/app/en.json
  frontend/src/components/courses/CourseGeneralList.vue
  frontend/src/components/projects/ProjectInfo.vue
  frontend/src/types/Project.ts
  frontend/src/views/App.vue
  frontend/src/views/courses/SearchCourseView.vue
  frontend/src/views/courses/roles/TeacherCourseView.vue
Labels: feature, frontend

#389 Fix empty search message
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/views/courses/SearchCourseView.vue
  frontend/src/views/courses/search/ProtectedSearchCourseView.vue
  frontend/src/views/courses/search/PublicSearchCourseView.vue
Labels: frontend

#394 chore: student help pages
  .gitignore
  backend/api/management/commands/teacher_join_course.py
  docs/.vitepress/config.mts
  docs/assets/course-card.png
  docs/assets/en/group-join.png
  docs/assets/en/group-leave.png
  docs/assets/en/join-course.png
  docs/assets/en/lang-change.png
  docs/assets/en/leave-course.png
  docs/assets/en/logout-button.png
  docs/assets/en/project-card.png
  docs/assets/en/project-list.png
  docs/assets/login-button.png
  docs/assets/modus-change.png
  docs/assets/nl/group-join.png
  docs/assets/nl/group-leave.png
  docs/assets/nl/join-course.png
  docs/assets/nl/lang-change.png
  docs/assets/nl/leave-course.png
  docs/assets/nl/logout-button.png
  docs/assets/nl/project-card.png
  docs/assets/nl/project-list.png
  docs/en/api-examples.md
  docs/en/index.md
  docs/en/markdown-examples.md
  docs/en/student-examples.md
  docs/nl/api-examples.md
  docs/nl/index.md
  docs/nl/markdown-examples.md
  docs/nl/student-examples.md
  frontend/src/assets/lang/info/en.json
  frontend/src/components/help/HelpBaseLayout.vue
  frontend/src/components/help/HelpHeader.vue
  frontend/src/router/router.ts
  frontend/src/views/help/HelpDashboard.vue
  package-lock.json
  package.json
Labels: documentation, feature

#403 Course link refactor
  backend/api/serializers/course_serializer.py
  backend/api/views/course_view.py
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/courses/ShareCourseButton.vue
  frontend/src/components/courses/search/ProtectedSearchStepper.vue
  frontend/src/composables/services/course.service.ts
  frontend/src/router/router.ts
  frontend/src/test/unit/types/course.test.ts
  frontend/src/test/unit/types/data.ts
  frontend/src/test/unit/types/helper.ts
  frontend/src/types/Course.ts
  frontend/src/types/filter/Filter.ts
  frontend/src/views/courses/CreateCourseView.vue
  frontend/src/views/courses/JoinCourseView.vue
  frontend/src/views/courses/SearchCourseView.vue
  frontend/src/views/courses/UpdateCourseView.vue
  frontend/src/views/courses/search/ProtectedSearchCourseView.vue
  frontend/src/views/courses/search/PublicSearchCourseView.vue
Labels: frontend, backend

#381 feat: navigation system admin panel on top
  backend/.flake8
  backend/api/views/user_view.py
  frontend/package-lock.json
  frontend/src/components/admin/LazyDataTable.vue
  frontend/src/components/layout/admin/AdminHeader.vue
  frontend/src/components/layout/admin/AdminLayout.vue
  frontend/src/components/layout/base/BaseHeader.vue
  frontend/src/components/teachers_assistants/TeacherAssistantSearch.vue
  frontend/src/types/users/User.ts
  frontend/src/views/admin/DockerImagesView.vue
  frontend/src/views/admin/UsersView.vue
Labels: frontend

#406 chore: deploy
  .dev.env
  .prod.env
  data/nginx/nginx.dev.conf
  data/nginx/nginx.prod.conf
  development.yml
  docs/.gitignore
  docs/.vitepress/config.mts
  docs/Dockerfile.dev
  docs/Dockerfile.prod
  docs/nginx.conf
  docs/package-lock.json
  docs/package.json
  frontend/package-lock.json
  package-lock.json
  package.json
  production.yml
Labels: deployment

#419 chore: readded tests
  backend/api/logic/parse_zip_files.py
  backend/api/models/course.py
  backend/api/tests/helpers.py
  backend/api/tests/test_admin.py
  backend/api/tests/test_assistant.py
  backend/api/tests/test_checks.py
  backend/api/tests/test_course.py
  backend/api/tests/test_file_structure.py
  backend/api/tests/test_group.py
  backend/api/tests/test_locale.py
  backend/api/tests/test_project.py
  backend/api/tests/test_student.py
  backend/api/tests/test_submission.py
  backend/api/tests/test_teacher.py
  backend/data/testing/docker_images/Dockerfile.python
  test.yml
Labels: testing

#402 feat: Project "Download grades as a CSV file" button
  backend/api/serializers/group_serializer.py
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/projects/DownloadCSVButton.vue
  frontend/src/composables/services/student.service.ts
  frontend/src/test/unit/services/setup/data.ts
  frontend/src/test/unit/services/setup/post_handlers.ts
  frontend/src/test/unit/services/student_service.test.ts
  frontend/src/test/unit/types/data.ts
  frontend/src/test/unit/types/helper.ts
  frontend/src/test/unit/types/student.test.ts
  frontend/src/types/users/Student.ts
  frontend/src/views/admin/UsersView.vue
  frontend/src/views/projects/roles/TeacherProjectView.vue
Labels: frontend

#414 Help
  docs/assets/admin/en/admin-docker-frontpage.png
  docs/assets/admin/en/admin-users-frontpage.png
  docs/assets/admin/nl/admin-docker-frontpage.png
  docs/assets/admin/nl/admin-users-frontpage.png
  docs/en/admin-examples.md
  docs/nl/admin-examples.md
Labels: documentation, frontend

#420 Layout changes extra checks
  backend/api/serializers/project_serializer.py
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/projects/ExtraChecksUpload.vue
  frontend/src/views/projects/CreateProjectView.vue
  frontend/src/views/projects/UpdateProjectView.vue
Labels: frontend

#416 Download files
  backend/api/fixtures/realistic/realistic.yaml
  backend/api/locale/en/LC_MESSAGES/django.po
  backend/api/locale/nl/LC_MESSAGES/django.po
  backend/api/permissions/submission_permissions.py
  backend/api/serializers/submission_serializer.py
  backend/api/urls.py
  backend/api/views/project_view.py
  backend/api/views/submission_view.py
Labels: backend

#425 fix: cypress tests
  backend/ypovoli/settings.py
  frontend/Dockerfile.cypress
  frontend/cypress.config.js
  test.sh
  test.yml
Labels: testing

#424 fix: docker image owner
  backend/api/locale/en/LC_MESSAGES/django.po
  backend/api/locale/nl/LC_MESSAGES/django.po
  backend/api/serializers/docker_serializer.py
Labels: backend

#421 chore: better submission status
  backend/api/serializers/project_serializer.py
  backend/api/tests/test_project.py
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/projects/ProjectMeter.vue
  frontend/src/test/unit/services/setup/delete_handlers.ts
  frontend/src/test/unit/services/setup/get_handlers.ts
  frontend/src/test/unit/services/setup/post_handlers.ts
  frontend/src/test/unit/services/structure_check.test.ts
  frontend/src/test/unit/services/submission_status_service.test.ts
  frontend/src/test/unit/types/data.ts
  frontend/src/test/unit/types/helper.ts
  frontend/src/test/unit/types/submissionStatus.test.ts
  frontend/src/types/SubmisionStatus.ts
Labels: frontend, backend

#422 feat: artifacts
  backend/api/fixtures/realistic/realistic.yaml
  backend/api/locale/en/LC_MESSAGES/django.po
  backend/api/locale/nl/LC_MESSAGES/django.po
  backend/api/logic/get_file_path.py
  backend/api/migrations/0025_extracheckresult_artifact.py
  backend/api/models/checks.py
  backend/api/models/submission.py
  backend/api/permissions/submission_permissions.py
  backend/api/serializers/submission_serializer.py
  backend/api/tasks/extra_check.py
  backend/api/views/submission_view.py
  backend/data/fixtures/realistic/projects/0/0/checks/generate_gibberish.sh
  backend/data/fixtures/realistic/projects/0/0/submissions/0/submission_1/artifacts/artifact_extra_check_0.zip
  backend/data/fixtures/realistic/projects/0/0/submissions/0/submission_1/artifacts/artifact_extra_check_1.zip
  backend/data/fixtures/realistic/projects/0/0/submissions/0/submission_2/artifacts/artifact_extra_check_0.zip
  backend/data/fixtures/realistic/projects/0/0/submissions/0/submission_2/artifacts/artifact_extra_check_1.zip
Labels: feature, backend

#426 chore: went through some todos
  backend/api/models/checks.py
  backend/api/permissions/group_permissions.py
  backend/api/permissions/project_permissions.py
  backend/api/signals.py
  backend/api/tasks/docker_image.py
  backend/api/views/course_view.py
  backend/api/views/docker_view.py
  backend/api/views/group_view.py
  backend/api/views/submission_view.py
Labels: backend

#432 chore: changed production docker
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  development.yml
  production.yml
  test.yml
Labels: deployment

#442 Cleanup translations
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/admin/LazyDataTable.vue
  frontend/src/components/layout/admin/AdminHeader.vue
  frontend/src/components/layout/admin/AdminSidebar.vue
  frontend/src/components/projects/ProjectList.vue
  frontend/src/components/teachers_assistants/TeacherAssistantSearch.vue
  frontend/src/components/teachers_assistants/buttons/CourseRoleAddButton.vue
  frontend/src/types/Project.ts
  frontend/src/views/admin/DockerImagesView.vue
  frontend/src/views/admin/UsersView.vue
  frontend/src/views/authentication/VerifyView.vue
  frontend/src/views/courses/SearchCourseView.vue
  frontend/src/views/projects/CreateProjectView.vue
  frontend/src/views/projects/UpdateProjectView.vue
Labels: frontend

#441 fix: no leaving single groups
  backend/api/locale/en/LC_MESSAGES/django.po
  backend/api/locale/nl/LC_MESSAGES/django.po
  backend/api/serializers/group_serializer.py
Labels: backend

#439 chore: no extra checks fix
  backend/api/serializers/project_serializer.py
Labels: backend

#444 chore: send notifications
  backend/api/serializers/group_serializer.py
  backend/api/signals.py
  backend/api/tasks/docker_image.py
  backend/api/tasks/extra_check.py
  backend/api/tasks/structure_check.py
  backend/api/views/group_view.py
  backend/notifications/fixtures/realistic/realistic.yaml
  backend/notifications/locale/en/LC_MESSAGES/django.po
  backend/notifications/locale/nl/LC_MESSAGES/django.po
  backend/notifications/logic.py
  backend/notifications/serializers.py
  backend/notifications/signals.py
  development.sh
Labels: backend

#446 chore: better error messages
  docs/.vitepress/config.mts
  docs/en/index.md
  docs/en/student-examples.md
  docs/nl/index.md
  docs/nl/student-examples.md
  frontend/src/composables/services/admin.service.ts
  frontend/src/composables/services/assistant.service.ts
  frontend/src/composables/services/course.service.ts
  frontend/src/composables/services/docker.service.ts
  frontend/src/composables/services/extra_checks.service.ts
  frontend/src/composables/services/faculty.service.ts
  frontend/src/composables/services/group.service.ts
  frontend/src/composables/services/helpers.ts
  frontend/src/composables/services/project.service.ts
  frontend/src/composables/services/structure_check.service.ts
  frontend/src/composables/services/student.service.ts
  frontend/src/composables/services/submission.service.ts
  frontend/src/composables/services/submission_status.service.ts
  frontend/src/composables/services/teacher.service.ts
  frontend/src/composables/services/users.service.ts
  frontend/src/views/courses/CreateCourseView.vue
Labels: frontend

#454 chore: better submission status + favicon
  backend/api/fixtures/realistic/realistic.yaml
  backend/api/serializers/project_serializer.py
  backend/api/tests/test_project.py
  frontend/index.html
  frontend/src/assets/img/favicon.ico
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/projects/ProjectDetailCard.vue
  frontend/src/components/submissions/ProjectMeter.vue
  frontend/src/types/SubmisionStatus.ts
Labels: frontend, backend

#455 Fix extra checks
  backend/api/serializers/course_serializer.py
  backend/api/tests/test_course.py
  backend/api/views/course_view.py
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/projects/ProjectExtraChecksEditor.vue
  frontend/src/components/projects/ProjectForm.vue
  frontend/src/composables/services/course.service.ts
  frontend/src/composables/services/extra_checks.service.ts
  frontend/src/types/ExtraCheck.ts
  frontend/src/views/projects/CreateProjectView.vue
  frontend/src/views/projects/UpdateProjectView.vue
Labels: frontend

#462 fix: select other months' date
  frontend/src/views/calendar/CalendarView.vue
Labels: bug, frontend

#463 chore: better colors
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/submissions/ProjectMeter.vue
Labels: frontend

#460 feat: notifications frontend
  backend/api/permissions/course_permissions.py
  backend/api/permissions/group_permissions.py
  backend/api/signals.py
  backend/api/tasks/docker_image.py
  backend/api/views/group_view.py
  backend/api/views/user_view.py
  backend/authentication/serializers.py
  backend/notifications/locale/en/LC_MESSAGES/django.po
  backend/notifications/locale/nl/LC_MESSAGES/django.po
  backend/notifications/logic.py
  backend/notifications/migrations/0002_alter_notification_user.py
  backend/notifications/models.py
  backend/notifications/serializers.py
  backend/notifications/signals.py
  backend/ypovoli/settings.py
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/courses/CourseForm.vue
  frontend/src/components/notifications/NotificationCard.vue
  frontend/src/components/notifications/NotificationsOverlay.vue
  frontend/src/components/notifications/NotificationsScrollPanel.vue
  frontend/src/components/projects/groups/GroupsManageTable.vue
  frontend/src/composables/services/helpers.ts
  frontend/src/composables/services/notification.service.ts
  frontend/src/config/endpoints.ts
  frontend/src/store/authentication.store.ts
  frontend/src/store/notification.store.ts
  frontend/src/types/Notification.ts
  frontend/src/views/layout/base/BaseHeader.vue
  frontend/src/views/projects/roles/TeacherProjectView.vue
  test.yml
Labels: feature, frontend, backend

#469 chore: less text
  frontend/src/assets/lang/app/en.json
  frontend/src/assets/lang/app/nl.json
Labels: frontend

#470 fix: small layout fixes
  frontend/src/assets/lang/app/nl.json
  frontend/src/components/courses/CourseDetailList.vue
  frontend/src/components/notifications/NotificationsOverlay.vue
  frontend/src/components/projects/ProjectList.vue
  frontend/src/views/courses/roles/AssistantCourseView.vue
  frontend/src/views/courses/roles/StudentCourseView.vue
  frontend/src/views/courses/roles/TeacherCourseView.vue
  frontend/src/views/dashboard/roles/AssistantDashboardView.vue
  frontend/src/views/dashboard/roles/StudentDashboardView.vue
  frontend/src/views/dashboard/roles/TeacherDashboardView.vue
  frontend/src/views/projects/roles/StudentProjectView.vue
  frontend/src/views/submissions/SubmissionsView.vue
Labels: feature, frontend

#472 fix: zip structure
  backend/api/fixtures/realistic/realistic.yaml
  backend/api/logic/parse_zip_files.py
  backend/api/tasks/structure_check.py
  backend/api/tests/test_file_structure.py
Labels: backend

#475 chore: nice package
  backend/api/tasks/extra_check.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: deployment

#479 Help
  docs/en/index.md
  docs/nl/index.md
Labels: documentation
